.side-container {
    position: fixed;
    top: 12vh;
    left: 2vh;

    font-size: 1.5rem;
    color: white;

    
    z-index: 10;
    overflow: hidden;
}

.fa-bars {
    cursor: pointer;
    color: white;
    transition: color 0.2s ease;
}

.fa-bars:hover {
    color: rgb(242, 100, 68);
}

.opened {    
    transition: transform 0.3s ease;
    transform: rotateZ(90deg);
}

.closed {    
    transition: transform 0.3s ease;
}

.side-menu {
    margin: 1rem 0;
    font-size: 1rem;
    
    overflow: hidden;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.side-menu li {
    margin-bottom: 1rem;  
}

.visible {
    opacity: 100%;
}