#calendar-button {
    font-size: 2rem;
    cursor: pointer;
    color: rgba(var(--text), 0.4);
    transition: color 0.3s ease;
}

#calendar-button {
    transform: translateX(40px) translateY(-2px);
}

#calendar-button.calendar-active {
    color: rgba(var(--text), 1);
}

#calendar-button:hover {
    color: rgba(var(--text), 1)
}

#calendar-button:active {
    filter: opacity(70%);
}

#calendar-app {
    width: 250px;
    height: 250px;
    background: rgba(var(--text), 0.7);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
    pointer-events: none;
    padding: 1rem;
    position: absolute;
    transform: translate(-20%, -65%);
}

#calendar-app.modal {
    opacity: 1;
    pointer-events: all;
}

#calendar-controls {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#calendar-controls button:not(#reset-date-button) {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    font-size: 1.25rem;
}

#calendar-controls button:hover:not(#reset-date-button) {
    transform: scale(1.15);
}

#calendar-controls #reset-date-button:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
}

#calendar-controls button:active {
    filter: opacity(70%);
}

#calendar-days-letters {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: auto 0.8rem;
}

#calendar-days-numbers {
    display: grid;
    grid-template-areas: 
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
    align-content: center;
    justify-items: center;
    row-gap: 15px;
    transform: translateY(15px);
}

#day-button {
    background: rgba(var(--color4), 0.8);
    width: 28px;
    aspect-ratio: 1;
}

#calendar-picked-date {
    color: rgb(var(--text));
    z-index: 101;
    position: absolute;
    right: -16%;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;
    font-size: 1.1rem;
    pointer-events: none;
}

#calendar-picked-date.selected {
    pointer-events: all;
}

#delete-date-button {
    color: rgba(var(--text), 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 1rem;
}

#calendar-picked-date:hover > #delete-date-button {
    opacity: 1;
}

#delete-date-button:hover {
    color: rgba(var(--text), 1);
}

#delete-date-button:active {
    filter: opacity(70%);
}

#pin-calendar-button {
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 1rem;
}

#pin-calendar-button.unlocked {
    transform: rotateZ(90deg);
    opacity: 0.5;
}

#pin-calendar-button.locked {
    transform: rotateZ(0);
    opacity: 1;
}

#pin-calendar-button.unlocked:hover {
    opacity: 0.75;
    transform: rotateZ(50deg);
}

#pin-calendar-button:hover {
    opacity: 0.75;
}

#pin-calendar-button:active {
    opacity: 0.4;
}