#edit-container {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#edit-container.visible {
    opacity: 1;
    pointer-events: initial;
}

#edit-container.hidden {
    opacity: 0;
    pointer-events: none;
}

#lists-menu {
    position: fixed;
    top: 9.5rem;
    left: 1rem;
    min-width: 150px;
    color: rgb(var(--text));
    padding: 0 1rem 0.5rem 1rem;
    border-left: solid 1px rgba(var(--text), 0.4);
}

#lists-menu-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#lists-menu-header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    right: -5px;
    height: 1px;
    background-color: rgba(var(--text), 0.4);
}

#lists-menu-items-container {
    margin-top: 2rem;
    left: 0;
    right: 0;
    height: fit-content;    
}

#lists-menu-items li {
    list-style: none;
    margin-bottom: 0.75rem;
}

#lists-menu-items li::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    width: 0;
    height: 0;
    content: '\f0da';
    position: relative;
    left: -1.14rem;
    top: 0;
    color: rgba(var(--text), 0.3);
    transition: color 0.3s ease;
}

#lists-menu-items li:hover::before {
    color: rgba(var(--text), 1);
}

#lists-menu-items li a {
    color:rgba(var(--text), 1);
    text-decoration: none;
    
}

#lists-menu-header h3 {
    font-weight: 400; 
}

#lists-menu-header button {
    background: none;
    border: none;
    cursor: pointer;
}

#lists-menu-header button i {
    color: rgba(var(--text), 0.4);
    transition: color 0.3s ease;
    font-size: 1rem;
}

#lists-menu-header button i:hover {
    color: rgba(var(--text), 1);
}

#list-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(var(--text));
    font-size: 2rem;
    font-weight: 300;
    outline: none;
    cursor: text;
}

#list-title:empty::before {
    content: attr(placeholder);
}

#list-title:not(:empty):focus::before {
    content: "";
}

#list-title:focus::before {
    content: "";
}

#list-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -25px;
    right: -25px;
    height: 1px;
    background-color: rgba(var(--text), 0.4);
}

#edit-buttons {
    position: fixed;
    right: 1rem;
}

#edit-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

#edit-buttons button i {
    color: rgba(var(--text), 0.4);
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

#destroy-button .fa-trash-can:hover {
    color: rgb(245, 100, 100);
}

#edit-buttons button i:hover {
    color: rgb(var(--text));
}

.disabled {
    opacity: 0.5;
    pointer-events: none !important;
}