#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    z-index: 100;
}

#footer button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#new-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

#new-container.open {
    animation: slideIn 0.5s ease-in-out forwards;
    opacity: 1;
}

#new-container.closed {
    animation: slideOut 0.5s ease-in-out forwards;
    opacity: 0;
}

#color-buttons {
    margin-right: 2rem;
}

#color-buttons button {
    margin-right: 1rem;
}

.fa-circle {
    font-size: 1.5rem;
}

#input-container {
    display: flex;
    align-items: center;
}

#todo-input {
    border-radius: 25px;
    min-width: 550px;
    height: 15px;
    padding: 1rem;
    padding-left: 3.5rem;
    margin-right: 1rem;
    border: none;
    font-size: 1.1rem;
}

#enter-button {
    margin-right: 3rem;
}

.fa-check {
    font-size: 2rem;
    color: rgb(var(--text));
}

#important-button {
    width: 20px;
    margin: 20px auto;
    font-size: 2rem;
    cursor: pointer;
    color: rgba(var(--text), 0.4);
}

#important-button.active {
    color: rgb(245, 100, 100);
}

.fa-circle-plus,
.fa-circle-xmark {
    font-size: 4rem;
    color: rgb(var(--color4));
    z-index: 100;
}