:root {
    --background: 30, 35, 64;
    --text: 254, 254, 254;
    --color1: 168, 122, 237;
    --color2: 22, 139, 234;
    --color3: 74, 204, 143;
    --color4: 248, 159, 76;
    --color5: 232, 86, 134;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    font-family: Raleway, monospace;
    background: rgb(var(--background));
    overflow: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    z-index: 0;
}

h1 {
    font-size: 3rem;
    color: rgb(var(--text));
}

.tooltip {
    display: block;
    position: fixed;
    bottom: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 20px;
    font-size: 2rem;
    background: rgba(var(--text), 0.3);
    backdrop-filter: blur(150px);
    color: rgb(var(--background));
    z-index: 900;
    pointer-events: none;
}