#header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(var(--background)) 0% 75%, transparent 100%);
    z-index: 200;
}

#title {
    cursor:default;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}