#header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    background: linear-gradient(to bottom, rgb(var(--background)) 0% 75%, transparent 100%);
}

#title {
    cursor:default;
}

#header-container button {    
    font-size: 2rem;
    background: transparent;
    border: none;
}

.fa-circle-user,
.fa-circle-half-stroke {
    color: rgb(var(--text));
    cursor: pointer;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    padding: 4px;
}

.fa-circle-user,
.fa-circle-half-stroke {    
    border: solid 3px transparent;
    border-radius: 50%;    
}

.fa-circle-user:hover,
.fa-circle-half-stroke:hover {
    border: solid 3px rgb(var(--text));
}

#header-container button:active > .fa-circle-half-stroke,
#header-container button:active > .fa-circle-user {
    filter: opacity(80%);
}