#header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(var(--background)) 0% 75%, transparent 100%);
    opacity: 0;
    z-index: 200;
    transition: opacity 0.5s ease-in-out;
}

#header-container.visible {
    opacity: 1;
    pointer-events: initial;
}

#header-container.hidden {
    opacity: 0;
    pointer-events: none;
}

#title {
    cursor: default;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}