@keyframes showInputMenu {
    from {        
        bottom: -150%;
    }
    to {        
        bottom: 0;
    }
}

@keyframes hideInputMenu {
    from {        
        bottom: 0;
    }
    to {        
        bottom: -150%;
    }   
}

@keyframes showDeleteButton {
    from {
        right: 50px;
        opacity: 0;
    }
    to {
        right: 30px;
        opacity: 1;
    }
}

@keyframes hideDeleteButton {
    from {
        right: 30px;
        opacity: 1;
    }
    to {
        right: 50px;
        opacity: 0;
    }
}