@keyframes slideIn {
    from {        
        bottom: -150%;
    }
    to {        
        bottom: 0;
    }
}

@keyframes slideOut {
    from {        
        bottom: 0;
    }
    to {        
        bottom: -150%;
    }   
}

@keyframes fadeIn {
    from {        
        top: -150%;
    }
    to {        
        top: 0;
    }
}

@keyframes fadeOut {
    from {        
        top: 0;
    }
    to {        
        top: -150%;
    }   
}