h1 {
    font-size: 3rem;
    color: rgb(var(--text));
}

#main-container {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
}

#list-container {
    margin: 15rem 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container::-webkit-scrollbar {
    width: 7px;
}

#main-container::-webkit-scrollbar-thumb {
    background: rgba(var(--text), 0.3);
    border-radius: 4px;
}

#list-container li {
    position: relative;
    list-style: none;
    min-width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: rgb(var(--text));
    padding: 2rem 2rem;
    border-radius: 250px;
    margin-bottom: 1rem; 
    overflow: hidden;
    transition: background, color, width, height, padding, font-size, transform, opacity;
    transition: 0.3s ease-in-out;
}

#list-container li.delete {
    height: 0;
    transform: scale(0.9);
    padding: 0 2rem;
    font-size: 0.5rem;
}

#list-container li.done {
    background: rgba(255, 255, 255, 0.384) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    height: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    min-width: 400px;
    transition: background, color, min-width, height, padding, font-size, transform, opacity;
    transition: 0.3s ease-in-out;
}

#list-container li.important::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 8rem;
    width: 0;
    height: 0;
    content: '\f071';
    position: relative;
    left: -2rem;
    top: -4rem;
    color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;  
}

#list-container li.done.important::before {
    font-size: 3rem;
    left: -1.5rem;
    top: -1.7rem;
    transition: all 0.3s ease-in-out;  
}

#list-container li:hover:not(.done) > #delete-button {
    animation: showDeleteButton 0.1s ease-in-out forwards;   
}

#list-container li:not(:hover):not(.done) > #delete-button {
    animation: hideDeleteButton 0.1s ease-in-out forwards;   
}

#list-container li.done > #delete-button {
    pointer-events: none;
}

#delete-button {
    position: absolute;
    right: 50px;
    opacity: 0;
    background: none;
    border: none;
    color: rgba(var(--text), 0.4);
    font-size: 1.4rem;
    cursor: pointer;
}

#delete-button:hover {
    color: rgba(var(--text), 1);
}