#title-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%) scale(1);
    margin: 0;
    padding: 0;
    font-size: 6rem;
    opacity: 1;
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#title-background.visible {
    filter: none;
    opacity: 1;
    transform: translateY(-100%) translateX(-50%) scale(1);
}

#title-background.hidden {
    filter: blur(20px);
    opacity: 0.5;
    transform: translateY(-100%) translateX(-50%) scale(4);
}

#main-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
}

#list-container {
    margin: 15rem 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container::-webkit-scrollbar {
    width: 7px;
}

#main-container::-webkit-scrollbar-thumb {
    background: rgba(var(--text), 0.3);
    border-radius: 4px;
}

#list-container li {
    position: relative;
    list-style: none;
    min-width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: rgb(var(--text));
    padding: 2rem 2rem;
    border-radius: 250px;
    margin-bottom: 1rem;
    transform: scaleX(1);
    transition-property: background, color, width, height, padding, font-size, transform, opacity;
    transition: 0.3s ease-in-out;
}

#list-container {
    opacity: 0;
    transition: display 0.5s ease, opacity 0.5s ease-in-out;
}

#list-container.visible {
    opacity: 1;
}

#list-container.hidden {
    opacity: 0;
}

#list-container li.delete {
    height: 0;
    transform: scale(0.9);
    padding: 0 2rem;
    font-size: 0.5rem;
}

#list-container li.done {
    background: rgba(255, 255, 255, 0.384) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    height: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transform: scaleX(0.9);
    transition-property: background, color, height, padding, font-size, transform, opacity;
    transition: 0.3s ease-in-out;
}

#list-container li.important::before {
    font-family: 'Font Awesome 6 Free', serif;
    font-weight: 900;
    font-size: 3rem;
    width: 0;
    height: 0;
    content: '\f071';
    position: relative;
    left: -20%;
    top: -1.25rem;
    color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s ease-in-out;
}

#list-container li.done.important::before {
    font-size: 2rem;
    left: -15%;
    top: -1rem;
    transition: all 0.3s ease-in-out;
}

#list-container li:hover:not(.done) > #delete-button,
#list-container li:hover:not(.done) > #info-button {
    animation: showDeleteButton 0.1s ease-in-out forwards;
}

#list-container li:not(:hover):not(.done) > #delete-button,
#list-container li:not(:hover):not(.done) > #info-button {
    animation: hideDeleteButton 0.1s ease-in-out forwards;
}

#list-container li.done > #delete-button,
#list-container li.done > #infos-button,
#list-container li.done > #infos-modal {
    pointer-events: none;
}

#list-container li.done > #infos-modal {
    opacity: 0;
}

#info-button,
#delete-button {
    position: absolute;
    right: 50px;
    opacity: 0;
    background: none;
    border: none;
    color: rgba(var(--text), 0.4);
    font-size: 1.4rem;
    cursor: pointer;
}

#info-button {
    transform: translateX(-2rem);
}

#info-button:hover,
#delete-button:hover {
    color: rgba(var(--text), 1);
}

#infos-modal {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    right: -15rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-left: 1px solid rgba(var(--text), 0.4);
    padding-left: 1rem;
    font-size: 1rem;
}

#infos-modal.visible {
    opacity: 1;
}

#label-modal {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-circle:active {
    filter: brightness(115%);
}