.user-modal {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(300deg, rgba(122, 18, 167, 0.6), rgba(29, 28, 64, 0.7));
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    padding: 20px;
    z-index: 100;
}

.modal-opened {    
    display: block;
}

.modal-content {
    width: 50rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fa-xmark {
    flex: 1;
    position: fixed;
    top: 0.75rem;
    right: 1rem;

    font-size: 1.2rem; 
    color: white;

    cursor: pointer;
    transition: color 0.2s ease;
}

.fa-xmark:hover {
    color: rgb(242, 100, 68);
}

.user-list,
.user-options {
    display: flex;
    gap: 2rem;
}

.user-list {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.user,
.add-button,
.delete-button,
.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-picture {
    width: 6rem;
    height: 6rem;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    
    cursor: pointer;
}

.user-picture:hover {
    border: solid 3px white;
    box-sizing: border-box;
    
}

.fa-user {
    font-size: 3rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-options {
    gap: 5rem;    
}

.add-button,
.delete-button,
.login-button {
    cursor: pointer;
    transition: color 0.2s ease;
}

.add-button:hover {
    color:rgb(242, 100, 68);
}

.delete-button:hover {
    color: rgb(178, 68, 242);
}

.login-button:hover {
    color: rgb(68, 158, 242);
}

.fa-add,
.fa-trash-can,
.fa-key {
    font-size: 1.5rem;
}

.add-button p,
.delete-button p,
.login-button p {
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 99;
}

